.appbar_wrapper {
    padding: 1.5rem 1rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.appbar_wrapper h1 {
    font-family: "Segoe UI", Arial, sans-serif;
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.appbar_wrapper svg {
    flex-shrink: 0;
}